<!--<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@/uploadArchive" method="post">
        <input type="button" value="Choose file"
               onclick="document.getElementById('').click()"/>
        <input type="submit" value="Importar"/>
    </form>
</div>
</body>
</html>-->